// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.pagination {
    nav {
        width: 100%;
        max-width: 100%;
    }
    a {
        text-decoration: none;
    }

    svg {
        max-width: 20px;
    }

    .hidden {
        p {
            color: transparent;
        }
    }
}
